#Capa_1{
    width: 5vw !important;
    height: auto !important;
    margin: 1vw 3vw 2vw 0;    
    padding: unset;
}

.preto path, .preto circle, .preto rect{
    fill: #ffffff;
}

@media (max-width: 498px){
    .header{
        padding: 6vw !important;
    }
    #Capa_1{
        width: 9vw !important;
        margin: 5.5vw 6vw 2vw 0;    
    }
}